* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* h1 within the header tag */
header h1 {
    display: inline-block;
    font-size: 48px;
}
/* .seo is for the seo text in Horiseon */
.seo {
    color: #d9dcd6;
}
/* Container for the navbar at the top of the page */
.navContainer {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* set navBar's list style type */
.navBar {
    list-style-type: none;
}
/* the elements within the navBar */
.navBar li {
    display: inline-block;
    margin-left: 25px;
}
/* a tags should be white and have no text decoration */
a {
    color: #ffffff;
    text-decoration: none;
}
/* p tag elements should start at a font size of 16px */
p {
    font-size: 16px;
}
/* .hero governs the large image on the page being used as a background for a large div instead of an image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* items given this class will float left and given a margin of 25px on the right*/
.float-left {
    float: left;
    margin-right: 25px;
}
/* items given this class will float right and given a margin of 25px on the left*/
.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/* align and set margins for h3 tags in class benfits*/
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* img tags in class benifits*/
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* set  max height of img tags in class content*/
.content img{
    max-height: 200px;
}
/*set font size and margin for h2 tags in class content*/
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* h2 tag in footer */
footer h2 {
    font-size: 20px;
}
